services:
  # Service untuk Database
  db:
    image: postgres:18-alpine
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - ./schema.sql:/docker-entrypoint-initdb.d/schema.sql # Otomatis jalankan schema saat startup
      - postgres_data:/var/lib/postgresql/data

  # Service untuk Adminer (GUI Database)
  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"

  # Service untuk Aplikasi Express
  app:
    build: .
    env_file:
      - .env
    ports:
      - "3000:3000"
    environment:
      DB_HOST: ${DB_HOST}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      DB_PORT: ${DB_PORT}
      NODE_ENV: ${NODE_ENV}
    depends_on:
      - db
    volumes:
      - .:/app # Sinkronkan source code
      - /app/node_modules
    command: npm run dev

volumes:
  postgres_data:
